.Services {
  padding: 40px 90px;
  .services-content {
    display: flex;
    border: 1px solid rgba(15, 118, 110, 1);
    padding: 40px 30px;
    border-radius: 12px;
    align-items: center;
    gap: 110px;
    h2 {
      font-size: 20px;
      font-family: var(--font-main);
      color: white;
      text-align: end;
      margin: 0;
    }
  }
  .active {
    background-image: linear-gradient(
      to right bottom,
      #0f766e,
      #0e8e84,
      #0da69a,
      #09bfb1,
      #04d9c8
    ) !important;
    border-color: transparent;
  }
  .active-text {
    color: rgba(15, 118, 110, 1) !important;
    margin-left: 20px !important;
  }
  .last-card {
    gap: 160px !important;
  }
}
@media (max-width: 753px) {
  .Services {
    padding: 40px 0px !important;
    .services-content {
      padding: 20px 10px 20px 20px !important;
      gap: 90px !important;
    }
    .last-card {
      gap: 150px !important;
    }
  }
}
@media (max-width: 360px) {
  .Services {
    padding: 40px 0px !important;
    .services-content {
      padding: 20px 10px 20px 20px !important;
      gap: 10px !important;
    }
    .last-card {
      gap: 10px !important;
    }
  }
}
