:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-bg: rgba(15, 118, 110, 1);
  --font-main: "Noto Nastaliq Urdu";
  --input-color: rgba(185, 242, 235, 1);
  --font-lato: "Lato", sans-serif;
}
@font-face {
  font-family: "Noto Nastaliq Urdu";
  src: url("/jamel moori.ttf") format("truetype");
  font-weight: normal;
}
